@CHARSET "UTF-8";

#north {
	width: 100%;
	height: 40px;
	font-size: 10.5pt;
	font-family: 宋体;
}

#shezhi {
	position: absolute;
	bottom: -1px;
	right: 10px;
	height: 40px;
}

#markdiv {
	
}

#markdiv table {
	width: 100%;
}

#mainkard {
	width: 100%;
	margin-left: -30px;
}

#mainkard li {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 2px;
	margin-top: 3px;
	width: 110px;
	height: 98px;
	list-style-type: none;
}

#mainkard li:hover {
	background: url(../../img/menunmbg.jpg) top center no-repeat;
	background-size: cover;;
	CURSOR: hand;
	background-size: 110px 98px;
}

#mainkard .a {
	text-align: center;
	margin-top: 5px;
}

#mainkard .c {
	text-align: center;
	font-size: 16px;
	font-family: "宋体";
	margin-top: 10px;
}

#reighthtml {
	text-align: left;
	font-size: 16px;
	font-family: "宋体";
	margin-top: -15px;
	width: 100%;
	height: 255px;
}

#reighthtml li {
	font-size: 16px;
	height: 22px;
	list-style-type: none;
	border-bottom: 1px dashed #666666;
}

#reighthtml li a {
	float: left;
	width: 350px;
	color: #FF0000;
}
#reighthtml li a:link {
	color: #FF0000;
}

#reighthtml li a:visited {
	color: #00FF00;
}

#reighthtml li a:hover {
	color: #000000;
}

#reighthtml li a:active {
	color: #FFFFFF;
}

#reighthtml li .span1 {
	float: left;
	font-size: 12px;
	wihth: 40px;
	margin-right: 0px;
}

#reighthtml li .span2 {
	float: left;
	font-size: 12px;
	wihth: 40px
}

#reighthtml li .span3 {
	float: right;
	font-size: 12px;
	wihth: 40px
}

#reighthtml2 {
	text-align: right;
	font-size: 16px;
	font-family: "宋体";
	margin-top: 10px;
	color: #FF0000;
}

#reighthtml ul {
	margin-top: -1px;
	margin-left: -30px;
}

#reighthtml2 ul {
	margin-top: -1px;
	margin-left: -30px;
}

#reighthtml ul li {
	line-height: 20px;
	list-style-type: none;
}

#reighthtml2 ul li {
	margin-right: 30px;
	list-style-type: none;
}

.xxzx {
	width: 100%;
	height: 60px;
	background: url(../../img/mess.png) no-repeat left;
	border-bottom: 1px #008C8C solid;
}

.wdxx {
	width: 100%;
	height: 60px;
	background: url(../../img/mymess.png) no-repeat left;
	border-bottom: 1px #008C8C solid;
}